body { /* everything */
    font-family: arial;
    font-size: 1.0em; 
    text-align: center;
    display: block;
    margin: 0 auto 0 auto;

}


.nav > i{
	color: white;
}


ul[class="nav"]{ /* nav class */
    
    list-style-type: none;
    overflow: hidden;
    background-color: #2dafc9;
    opacity: 1.0; /* play with this later*/
    padding: 0;
}

.nav > li {
    display: inline-block;
    text-align:center; 
    
}



.nav > li a {
    
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
}

.nav > li a:hover {
    background-color: #3898ba;
    
}
label {
        display: block;
}

input, select {
    margin:0px auto;
    margin-bottom: 30;
    width: 300;
    padding: 6px 1px;
    margin-right:;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    
    display: block;
    
    
}


input[type=submit] {
    
    width: 120;
    font-size: 14;
    background-color: #2dafc9;
    color: white;
    padding: 12px 2px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin:0px auto;
    
}
